langchain
langchain_core
langchain_groq
langchain_ollama
langgraph
langchain_community
arxiv
wikipedia
bs4
langchain-tavily
tavily
fastapi 
uvicorn
watchdog
langgraph-cli[inmem]
chromadb
faiss-cpu
pandas
numpy
reportlab
flask
uvicorn 
fastapi
jinja2
python-multipart
markdown