langchain
langchain_core
langchain_groq
langgraph
langchain_community
arxiv
wikipedia
bs4
langchain-tavily
tavily
fastapi 
flask
uvicorn
watchdog
langgraph-cli[inmem]
pandas
numpy
reportlab
jinja2
python-multipart
markdown2
latex2mathml