name: Agentic Chatbot App Docker Workflow

on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
jobs:
    dockerbuild:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build the Docker Image
          run: docker build . --file DockerFile --tag workflow-test:$(date +%s)

    build-and-test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout COde
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v3
          with:
            python-version: 3.12
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Run tests
          run: |
            pytest


    build-and-publish: 
        needs: build-and-test
        runs-on: ubuntu-latest
        steps:
        - name: Checkout COde
          uses: actions/checkout@v3

        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v2 

        - name: Login to DockerHub 
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}

        - name: Build and push Docker image 
          uses: docker/build-push-action@v4 
          with: 
            context: .
            file: ./DockerFile
            push: true 
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/reportgenerator-app:latest

        - name: Image Digest 
          run: echo ${{steps.build-and-publish.outputs.digest}} 
            

        